<div class="container">
	<table class="table table-hover">
	  <legend class="text-center header">Reporte diario</legend>
                      
		<th>Fecha</th>
		<th>Nombre</th>
		<th>Grupo</th>
		<th>Observación</th>
		<th>Departamento</th>
		<th>Persona que reporta</th>
		<th>Persona que informa</th>
		<th colspan="2" class="text-center">Acciones</th>
		


	</table>
</div>
